.marble {
    background-color: #3D94F6;
    border-radius: 100px;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 100;
    /*padding: 400px;*/
    border: outset #FFFFFF 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height:50px;
    width: 50px;
    box-shadow: 0px 1px 5px 5px #000000;
    background-image : radial-gradient(10% 10% at 50% 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(12% 12% at 60% 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 60% 50%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25) 50%);
}
  
.marble:hover {
    background-color: #1809f0;
}

.marble-empty {
    background-color: #dfb221ec;
    border-radius: 100px;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 100;
    /*padding: 400px;*/
    border: outset #FFFFFF 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height:50px;
    width: 50px;
    box-shadow: 0px 1px 5px 5px #000000;
    background-image : radial-gradient(10% 10% at 50% 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(12% 12% at 60% 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 60% 50%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25) 50%);
}

.marble-selected {
    border-color: red;
    background-color: #3D94F6;
    border-radius: 100px;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 100;
    /*padding: 400px;*/
    /*border: outset #FFFFFF 3px;*/
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height:50px;
    width: 50px;
    box-shadow: 0px 1px 5px 5px #000000;
    background-image : radial-gradient(10% 10% at 50% 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(12% 12% at 60% 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 60% 50%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25) 50%);
}

.marble-valid-for-selection {
    background-color: rgb(11, 228, 58);
    border-radius: 100px;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 100;
    /*padding: 400px;*/
    border: outset #FFFFFF 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height:50px;
    width: 50px;
    box-shadow: 0px 1px 5px 5px #000000;
    background-image : radial-gradient(10% 10% at 50% 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(12% 12% at 60% 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 60% 50%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25) 50%);
}